@media (max-width: 1580px) {
  .review-greeting {
    display: none;
  }
}

@media (max-width: 1280px) {
  .review-greeting {
    display: none;
  }
}

@media (max-width: 780px) {
  .review-greeting {
    display: none;
  }
}

@media (max-width: 676px) {
  .review-greeting {
    display: none;
  }
}

@media (max-width: 576px) {
  .review-greeting {
    display: none;
  }
}

@media (max-width: 500px) {
  .review-greeting {
    display: none;
  }
}
